/* 이서윤체 폰트 적용을 위한 코드 */
@font-face {
    font-family: "LeeSeoyun";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* body태그 자체에 css 요소 부여 */
/* body {
    font-family: "LeeSeoyun";
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("../../public/background.png");
} */

.container {
    font-family: "LeeSeoyun";
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("../../public/background.png");
}

.container2 {
    width: 390px;
    height: 1000px;
    background-color: #ff9d73;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f_title {
    font-size: 25px;
    font-weight: 900;
    color: white;
}

.f_date {
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.inpImg{
    display: flex;
    flex-direction: column;
}

.inpImg{
    display: none;
}

.download {
   margin: 10px;
}

.btn{
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "LeeSeoyun";
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
}
